<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>

    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-error *ngIf="loginForm.get('email')?.invalid">Valid email is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="loginForm.get('password')?.invalid">Password is required</mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="full-width" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>

    <div class="register-link">
      <a routerLink="/register">Don't have an account? Register</a>
    </div>
  </mat-card>
</div>
