.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f9f9fb;
  
    mat-card {
      padding: 2rem;
      width: 350px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      background-color: #fff;
  
      mat-card-title {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: bold;
      }
  
      .full-width {
        width: 100%;
        margin-bottom: 1rem;
      }
  
      .register-link {
        margin-top: 1rem;
        text-align: center;
  
        a {
          font-size: 0.9rem;
          color: #3f51b5;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  